<p class="header-shadow">
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="/home">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="header-title">I - Project</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/tasks">
    <mat-icon>list</mat-icon>
    <span>All tasks</span>
  </button>
  <button mat-menu-item>
    <mat-icon>note_add</mat-icon>
    <span>CRUD tasks</span>
  </button>
</mat-menu>