.detail-task-card {
  width: 60%;
  margin-left: 20%;
}

.task-form {
  width: 90%;
  margin-left: 5%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.task-field {
  width: 100%;
}

.task-title {
  font-size: 24px;
}

.margin-between-buttons {
  margin-left: 20px;
}

.no-task-message {
  margin-top: 20px;
  font-size: 20px;
}