<mat-card class="detail-task-card">
  <div class="task-title">
    <div class="row">
      <div class="col-md-10">
        Affichage d'une tâche
      </div>
      <div *ngIf="task" class="col-md-2">
        <button mat-icon-button aria-label="Example icon button with a menu icon" (click)="switchToUpdate()" title="Update task">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <form class="task-form"
    [formGroup]="taskForm"
    (ngSubmit)="onSubmit()"
    *ngIf="task">

    <mat-form-field class="task-field" appearance="fill">
      <mat-label>Task title</mat-label>
      <input 
        matInput
        placeholder="Task title"
        formControlName="title"
        disable="true">
    </mat-form-field>
  
    <mat-form-field class="task-field" appearance="fill">
      <mat-label>Task description</mat-label>
      <textarea
        matInput
        placeholder="Task description"
        formControlName="description"></textarea>
    </mat-form-field>

    <span *ngIf="displayType === displayTypeEnum.UPDATE">
      <button mat-raised-button color="accent" type="button" (click)="switchToView()">Cancel</button>
      <button mat-raised-button color="accent" type="submit" class="margin-between-buttons">Update</button>
    </span>

  </form>
  <div *ngIf="!task" class="no-task-message">
    <mat-icon>error_outline</mat-icon>
    No task found
  </div>
</mat-card>