<h1>Create a task</h1>

<form class="task-form"
    [formGroup]="taskForm"
    (ngSubmit)="onSubmit()">

    <mat-form-field class="task-field" appearance="fill">
      <mat-label>Task title</mat-label>
      <input 
        matInput
        placeholder="Task title"
        formControlName="title"
        disable="true">
    </mat-form-field>
  
    <mat-form-field class="task-field" appearance="fill">
      <mat-label>Task description</mat-label>
      <textarea
        matInput
        placeholder="Task description"
        formControlName="description"></textarea>
    </mat-form-field>

    <button mat-raised-button color="accent" type="button" mat-dialog-close>Cancel</button>
    <button mat-raised-button color="accent" type="submit" class="margin-between-buttons">Create</button>
</form>
