<div class="row all-tasks-title">
  <div class="col-md-10">
    All tasks
  </div>
  <div class="col-md-2">
    <button mat-raised-button (click)="displayCreatePopin()">
      <mat-icon>add</mat-icon>
      Create task
    </button>
  </div>
</div>

<mat-grid-list cols="4" rowHeight="2:1">
  <mat-grid-tile *ngFor="let task of tasks">
    <mat-card class="task-card">
      <mat-card-title>{{ task.title }}</mat-card-title>
      <mat-card-subtitle>ID : {{ task.id_task }}</mat-card-subtitle>
      <mat-card-content>
        <p>{{ task.description }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/task',task.id_task]">DETAIL</button>
        <button mat-raised-button color="warn" (click)="deleteTask(task.id_task)">DELETE</button>
      </mat-card-actions>
    </mat-card>
    
  </mat-grid-tile>
</mat-grid-list>

<h1 *ngIf="tasks && tasks.length === 0">No tasks found</h1>

